@font-face {
 font-family: 'arbutsman';
 src: url('../assets/arbutsman.otf')format('opentype'),url('https://sinidonk.github.io/Fontku/arbutsman.otf') 
  format('opentype');
}


@font-face {
 font-family:'arbquran';
 src: url('../assets/arbquran.otf')
  format('opentype'),
  url('https://sinidonk.github.io/Fontku/arbquran.otf') 
  format('opentype');
}

@font-face {
 font-family: 'arbmisbah';
 src: url('../assets/arbmisbah.ttf')
  format('truetype'), url('https://sinidonk.github.io/Fontku/arbmisbah.ttf') format('truetype');
}

.judul{
font-family:'georgia';
font-size: 16px;
	font-weight:bold;
		direction: ltr;
		text-transform: capitalize;
}

.arab, .arki, .arka {
font-family: 'arbutsman';
 font-size: 35px;
 line-height:1.3;
 direction: rtl;
}

.surat {
font-family: 'arbutsman';
 font-size: 35px;
 line-height:1.3;
  letter-spacing:normal;
word-spacing:1px;
 direction: rtl;
 text-align: center !important; }

/* Paksa untuk memastikan teks diratakan */
  
.latin, .laki, .laka{
font-family:'georgia';
font-size: 16px;
		direction: ltr;
		text-transform: uppercase;
		fony-weight:bold;
}

.azam, .azki, .azka{
font-family:'georgia';
font-size: 14px;
		direction: ltr;
		text-transform: capitalize;
}

.arti, artki, .artka{
font-family:'georgia';
font-size: 14px;
		direction: ltr;
 font-style:italic;
		text-transform: capitalize;
}

.judul, .arab, .latin, .azam, .arti{
padding:5px;text-align:center;
}

.arki, .laki, .azki, .artki{
padding:5px;text-align: left;
}

.arka, .laka, .azka, .artka{
padding:5px;text-align:right;
}
